.panda-bg-info {
    background-color: #fceae8;
}
.panda-btn-warning{
    background-color: #ff428d;
}
.panda-bg-warning{
    background-color: #ffa500;
}
.panda-bg-success{
    background-color: #da70d6;
}
.panda-bg-primary{
    background-color: #0000ff;
}